#ticTacToeBoard {
  margin-top:30px;
  height:500px;
  width:500px;
}

.column {
  height:134px;
  border:2px solid white;
  background-color:#0E273C;
}

.column h2 {
  color:#D3BCCC;
  font-weight:bold;
  font-size:3em;
  margin-top:45px;
  text-align:center;
}

.modal-content {
  background-color:#D3BCCC;
  color:#4A306D;
  text-align:center;
}

.modal-header {
  background-color: #4A306D;
  color:#E8D7F1;
}

#xButton {
  float:left;
}